@font-face
{
    font-family: "Symbols";
    src: url(https://cdnjs.cloudflare.com/ajax/libs/winjs/4.4.3/fonts/Symbols.ttf);
}

.icon
{
    font-family: "Symbols";
    display: inline-block;
    margin: 0 5px;
}

.message
{
    width: calc(100% - 48px);
    min-width: 312px;
    height: 48px;
    margin-bottom: 1px;
    padding: 16px 24px;
    /*background-color: #2B2B2B;*/
}

.userIcon
{
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 12px;
}

.messageContent
{
    width: calc(100% - 60px);
    height: 48px;
    float: left;
}

.contactInformation
{
    width: 100%;
    height: 16px;
}

.contactName
{
    height: 16px;
    float: left;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
}

.contactTime
{
    width: 40px;
    height: 16px;
    float: right;
    text-align: right;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    color: rgba(255, 255, 255, .4);
}

.messagePreview
{
    width: 100%;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    color: #FFFFFF;
    color: rgba(255, 255, 255, .4);
}

.listView
{
    height: 100%;
}

@media only screen and (max-width: 800px)
{
    .blog-split.win-splitview.win-splitview-pane-opened .win-splitview-contentwrapper,
    .blog-split.win-splitview.win-splitview-pane-closed .win-splitview-pane
    {
        display: none;
    }
    .blog-split.win-splitview.win-splitview-pane-opened .win-splitview-panewrapper,
    .blog-split.win-splitview.win-splitview-pane-opened .win-splitview-pane
    {
        width: 100%;
        display: block;
    }
}
@media only screen and (min-width: 801px)
{
    .blog-split.win-splitview.win-splitview-pane-opened .win-splitview-pane,
    .blog-split.win-splitview.win-splitview-pane-closed .win-splitview-pane
    {
        width: 320px;
        display: block;
    }

    .blog-split .article-header .win-navigation-backbutton
    {
        display: none;
    }
}

.blog-split .article-header h2
{
    display: inline;
}

.blog-split .win-splitview-content
{
    padding-top: 25px;
    padding-left: 25px;
    width: calc(-50px + 100%);
}

.all-applications::before
{
    content: "\E179";
}