.splitView .win-splitviewpanetoggle
{
    float: left;
}

/* SplitView pane content style*/
.splitView .header
{
    white-space: nowrap;
}

.splitView .title
{
    font-size: 25px;
    left: 50px;
    margin-top: 6px;
    vertical-align: middle;
    display: inline-block;
}

.splitView .nav-commands
{
    margin-top: 20px;
}

.splitView .win-splitviewcommand-button
{
    background-color: transparent;
}

.splitView .win-splitview-pane-hidden .win-splitviewcommand-button
{
    width: 46px;
}

.splitView .win-splitview-pane-hidden .win-splitviewcommand-label
{
    /* Workaround: Make sure pane doesn't scroll if ContentDialog restores focus to NavBarCommand's label */
    visibility: hidden;
}

.win-splitview-content .content-area
{
    padding: 5px;
    overflow-y: auto;
    height: calc(-58px + 100%);
}

.styletoggle .win-commandimage:after
{
    font-family: Arial;
    content: "\263C";
}

.small-toggle
{
    display: none;
}

@media only screen and (max-width: 800px)
{
    header
    {
        margin-left: 48px;
    }

    .small-toggle
    {
        display: block;
    }
}
