.nav-commands
{
	margin-top: 20px;
	height: 300px;
}

.win-hub-horizontal .win-hub-section-content
{
	height: calc(100% - 100px);
}

#mainHub .post
{
	width: 600px;
	max-width: calc(100vw - 10px);
}

article
{
	overflow: hidden;
	padding-right: 10px;
	margin-top: 10px;
	height: calc(100% - 30px);
}