.nav-commands
{
	margin-top: 20px;
}







#mainHub div.post
{
	width: 1024px;
}


article
{
	overflow: hidden;
	overflow-y: auto;
	padding-right: 10px;
	margin-top: 10px;
}

div.win-splitview-content
{
	position: static !important;
}